basic_window
imgui
model

imgui.ini
*.o
.*.sw?

triangle.objb

extern/include
extern/lib/*.a
extern/bin/objconv
extern/code/glfw-obj
extern/code/glfw-src
extern/code/glm-src
extern/code/imgui-src
extern/code/objconv

